.cart-main-container {
  width: 85%;
  height: 100vh;
  display: flex;
  margin: auto;
  margin-top: 5%;
  position: relative;
}

.cart-list-container {
  width: 68%;
}

.list-top {
  width: 100%;
  height: 12%;
  border-bottom: 1px solid rgb(232, 230, 230);
}

.top-normal-order {
  width: 20%;
  height: 40%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 0.9rem;
}

.cart-top-line {
  width: 100%;
  height: 3px;
  margin: -2px 0 0 0;
  background-color: black;
}

.list-bottom {
  margin-top: 0;
}

.top-entire-check {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2%;
  font-weight: 600;
}

.cart-checkbox-input {
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #999;
  border-radius: 3px;
  position: relative;
}

.cart-checkbox-input:checked {
  background-color: black;
}

.cart-checkbox-input:checked::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 40%;
  transform: translate(0, -50%) rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1px 1px 0;
}

.cart-bottom-line {
  width: 100%;
  height: 1px;
  background-color: rgb(232, 230, 230);
}

.cart-payment-container {
  width: 32%;
  height: 35%;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-left: 2%;
  margin-left: 1%;
  flex-direction: column;
  position: sticky;
  top: 20px;
}

.order-button,
.order-button-disabled {
  width: 100%;
  height: 30%;
  margin-top: -5px;
  padding: 5%;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.order-button-disabled {
  background-color: rgb(93, 94, 93);
  color: rgba(244, 244, 244, 0.715);
}
