.product-registered-page {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  width: 17%;
}

.products-registered-container {
  width: 100%;
}

.product-registered {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.registered-container-bydate {
  width: 100%;
  gap: 0;
}

.registered-each-container {
  width: 100%;
}

.registered-top-container {
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(145, 146, 145);
  border-bottom: none;
}

.registered-modify-button {
  cursor: pointer;
}

.registered-each-container {
  overflow-x: auto;
}

.registered-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.registered-table th,
.registered-table td {
  padding: 10px;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
  border: 1px solid rgb(216, 216, 216);
}

.registered-table-title {
  background-color: rgb(249, 249, 249);
}

.table-title-number,
.table-data-productId {
  max-width: 8%;
}

.data-modify-button {
  width: 65%;
  height: 1.5rem;
  font-weight: 500;
  font-size: 0.7rem;
  color: white;
  background-color: black;
  border-radius: 3px;
  margin-top: 3px;
  cursor: pointer;
}

.table-title-name,
.table-data-photo-name {
  width: 30%;
}

.table-data-photo-name-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.table-data-photo {
  width: 25%;
  height: 60px;
  margin-right: 4%;
  object-fit: cover;
}

.table-data-name-container {
  display: flex;
  align-items: center;
  width: 78%;
  text-align: left;
  word-wrap: break-word;
}

.table-title-price,
.table-data-price {
  width: 11%;
}

.table-data-price {
  overflow-wrap: break-word;
}

.table-title-category,
.table-data-categories {
  width: 13%;
}

.registered-gender {
  text-transform: capitalize;
}

.data-categories-appparel {
  margin-top: 5px;
  text-transform: capitalize;
}

.table-title-option,
.table-data-option-quantity {
  width: 14%;
}

.table-data-option-quantity-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-quantity {
  margin-left: 5px;
}

.table-title-registered-date,
.table-data-registered-date,
.table-title-end-date,
.table-data-end-date {
  width: 12%;
}

.pagination {
  /* border: 1px solid; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 10px;
}

.pagination-button {
  border: none;
  font-weight: 500;
}

.pagination-button:hover {
  color: rgb(17, 102, 195);
}

.pagination-button-active {
  border: 1px solid rgb(93, 94, 93);
  border-radius: 3px;
  font-weight: 800;
  color: rgb(17, 102, 195);
}

.pagination-button,
.pagination-button-active {
  cursor: pointer;
  font-size: 0.9rem;
  background-color: white;
}
