.registered-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.registered-modal-content {
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

.registered-modal-close-btn {
  width: 25px;
  height: 25px;
  margin-left: 93%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registered-modal-close-btn:hover {
  border-radius: 50px;
  background-color: rgb(243, 243, 243);
}

.registered-modal-content img {
  max-width: 25%;
}

.registered-modal-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.registered-modal-info-img {
  margin-bottom: 20px;
}

.registered-modal-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.registered-modal-info-name,
.registered-modal-info-price,
.registered-modal-info-category,
.registered-modal-info-size {
  width: 100%;
  text-align: left;
}

.registered-modal-info-name {
  font-size: 17px;
}

.registered-modal-info-category-group {
  display: flex;
  width: 100%;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.registered-modal-info-category,
.registered-modal-info-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.registered-modal-info-price {
  margin-top: 5px;
  margin-bottom: 5px;
}

.registered-modal-info-size {
  margin-top: 5px;
}

.registered-modal-info-size-flex {
  display: flex;
  margin-top: 5px;
  margin-left: 20px;
  gap: 10px;
  align-items: center;
}

.registered-modal-info-size-option {
  width: 25px;
  margin: 5px;
}

.registered-modal-info input,
.registered-modal-info select {
  padding: 5px;
  margin-top: 5px;
}

.registered-modal-info select {
  width: 70%;
}

.registered-modal-info input {
  width: 81%;
}

.registered-section {
  border-top: 1px solid rgb(216, 216, 216);
  width: 100%;
}

.registered-modal-update-button {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: black;
  color: white;
  border-radius: 3px;
  padding: 3%;
  cursor: pointer;
}
