.productPage {
  display: flex;
  flex-direction: column;
  padding: 0px 60px;
  gap: 20px;
}

.title{
  font-size: 32px;
  font-weight: 500;
  text-transform: capitalize;
}

.productList{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-width: 100%;
  column-gap: 10px;
  row-gap: 15px;
}

.productPage img {
  width: 100%;
  max-width: 100%;
}