.slick-slider {
  margin: 0px 30px 0px 0px; /* 슬라이더 전체 컨테이너의 상단 여백 */
}

.slick-list {
  margin-left: 10px; /* 슬라이더 목록의 좌측 여백 */
}

.slick-track {
  margin-right: 10px; /* 슬라이더 트랙의 우측 여백 */
}

.slick-slide {
  margin: 0px; /* 개별 슬라이드의 좌우 여백 */
}

.image-slider-container {
  position: relative;
  width: 60%;
}

.single-image-container {
  margin: 0px 80px 0px 40px;
}

.slide {
  position: relative;
}

.slide img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.slider-button {
  position: absolute;
  top: 40%; /*버튼 위치*/
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.347);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.slider-button.prev {
  left: 40px;
}

.slider-button.next {
  right: 70px;
}

.slider-button-icon {
  width: 30px;
  height: 30px;
  color: white;
}
