.navbar-container {
  width: 100vw;
  height: 15vh;
  padding: 0.3% 2% 1% 3%;
  background-color: white;
  cursor: pointer;
}

.mlb-icon {
  width: 10%;
  height: 60%;
}

.nav-top {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-right-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 12%;
  height: 40%;
  margin-right: 10%;
  gap: 2rem;
}

.right-bag-icon-container {
  width: 30px;
  height: 30px;
  /* border: 1px solid; */
  position: relative;
}

.cart-quantity-container {
  position: absolute;
  background-color: black;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  top: 0%;
  left: 55%;
}

.right-search-icon,
.right-bag-icon,
.right-loggedout-icon,
.right-loggedin-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.loggedout-popup,
.loggedin-popup {
  position: absolute;
  top: 8%;
  right: 0;
  left: 85%;
  width: 8%;
  height: 9%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  gap: 20%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  font-size: 0.95rem;
  font-weight: 500;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.signup,
.login {
  cursor: pointer;
}

.loggedin-popup {
  left: 90%;
}

.my-page,
.logout {
  cursor: pointer;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 40%;
  gap: 1.3%;
  font-size: 1.1rem;
  font-weight: 500;
}

.nav-all,
.nav-women,
.nav-men,
.nav-apparel,
.nav-cap,
.nav-shoes,
.nav-bag {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav-all.active,
.nav-women.active,
.nav-men.active,
.nav-apparel.active,
.nav-cap.active,
.nav-shoes.active,
.nav-bag.active {
  text-decoration: underline;
}

.nav-all:hover,
.nav-women:hover,
.nav-men:hover,
.nav-apparel:hover,
.nav-cap:hover,
.nav-shoes:hover,
.nav-bag:hover {
  text-decoration: underline;
  color: rgb(87, 85, 85);
}

.bottom-barrier {
  width: 1px;
  height: 30%;
  background-color: rgb(219, 218, 218);
}

.bottom-promotion,
.bottom-trend {
  font-weight: 700;
}
