.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcf7f7;
  padding: 10px;
  gap: 10rem;
  width: 50%;
  margin: auto;
  margin-top: 4%;
  border-radius: 5px;
}

.cart-nav-container,
.payment-nav-container,
.completed-nav-container {
  display: flex;
  flex-direction: row;
}

.navLink {
  text-decoration: none;
  color: rgb(195, 193, 193);
  font-weight: 400;
  margin: 0 10px;
  cursor: default;
}

.navLink.active {
  font-weight: 600;
  color: black;
}

.navLink-line {
  height: 2px;
  background-color: black;
  display: none;
  margin-top: 2px;
}

.navLink.active .navLink-line {
  display: block;
}
