.product-container {
  width: 94%;
  height: 10rem;
  border: 1px solid;
  padding: 3%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: row;
}

.product-left {
  width: 80%;
  height: 100%;
  border: 1px solid;
}

.product-img-container {
  width: 25%;
  height: 100%;
  border: 1px solid;
}

.product-info-container {
  width: 75%;
  border: 1px solid;
}
