.order-payment-container {
  display: flex;
  margin: 20px 10px 0px 80px;
}

.order-section-container {
  width: 62%;
  padding: 20px;
  margin: 0px 0px 0px 10px;
  border-radius: 8px;
}

.order-section-Personal-information,
.order-section-address-information {
  margin-bottom: 3.5rem;
}

.section-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.order-form {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #000000;
  padding-top: 10px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e0dddd;
}

.form-group {
  margin: 15px 0px 15px 40px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"] {
  width: 70%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-group input[type="text"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="email"]:focus {
  border-color: #007bff;
  outline: none;
}

.order-product-container,
.payment-method-container {
  gap: 20px;
  margin-bottom: 15px;
  border-top: 2px solid #000000;
}

.order-product {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-top: 1rem;
}

/* 상품이미지 */
.product-image {
  width: 7rem;
  height: 10rem;
  object-fit: cover;
  border: 1px solid #d8d8d8;
}

.product-details {
  flex: 1;
  margin: 15px 0px 10px 20px;
}

.product-General-order {
  width: 55px;
  height: fit-content;
  border: 1px solid #d8d8d8;
  padding: 3px;
}

/* 일반주문글씨 */
.product-General-order p {
  font-size: 11px;
  margin: 0px;
}

/* 상품이름 */
.product-details-group > p:first-child {
  margin: 0px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* 옵션과 수량 */
.product-details-option {
  display: flex;
  align-items: center;
}

.product-details-option p {
  margin: 0;
  font-size: 13px;
  color: #333;
}

.product-details-option .separator {
  margin: 0 5px;
  color: #ccc;
}

/* 총 가격 */
.product-details-group > p:nth-of-type(2) {
  font-weight: bold;
}

.order-product-description {
  margin: 20px 0px 65px 0px;
  padding: 10px;
  border-top: 1px solid #e0dddd;
  border-bottom: 1px solid #e0dddd;
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

.order-product-description ul {
  list-style-type: none;
  padding-left: 20px;
}

.order-product-description li {
  margin-bottom: 10px;
}

.order-section-payment-information {
  margin-bottom: 20px;
}

.payment-method-container {
  border-bottom: 1px solid #e0dddd;
}

.custom-select-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 15px 0px 15px 15px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.pay-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pay-button:hover {
  background-color: #0056b3;
}

.pay-button:active {
  background-color: #004494;
}

.Payment-Information-container {
  width: 27%;
  height: 35%;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-left: 1%;
  flex-direction: column;
  position: sticky;
  top: 20px;
}

.payment-order-button {
  width: 100%;
  height: 3rem;
  margin-top: -5px;
  padding: 1%;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
