.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}

h2.signup-text {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 3%;
  margin-top: 0;
}

.signup-explanation {
  text-align: center;
  font-weight: 500;
  color: rgb(85, 83, 83);
  margin-bottom: 4%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  gap: 1.5rem;
  margin: auto;
}

.email-container,
.password-container,
.password-check-container,
.nickname-container,
.phone-number-container,
.address-container,
.profile-picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.profile-picture-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.email-label,
.password-label,
.password-check-label,
.nickname-label,
.phone-number-label,
.address-label,
.profile-picture-label {
  font-weight: 600;
  width: 60%;
  margin-bottom: 1%;
  margin-left: 10%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.profile-picture-label {
  width: 20%;
  margin-left: 25%;
}

.password-span,
.phone-span {
  color: rgb(85, 83, 83);
  font-size: 0.9rem;
}

.email,
.password,
.password-check,
.nickname,
.phone-number,
.address {
  width: 50%;
  height: 2.5rem;
}

.change-profile {
  border: 1px solid;
  cursor: pointer;
  width: 4rem;
  height: 1.75rem;
  padding: 2% 2% 2% 2%;
  padding-left: 6%;
  margin-right: 0;
  margin-left: 425%;
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 30px;
  font-weight: 600;
  color: white;
  background-color: black;
}

.submit-button {
  width: 13%;
  height: 2rem;
  border-radius: 10px;
  margin-bottom: 3%;
  font-size: 1rem;
  font-weight: 600;
  background-color: black;
  color: white;
  cursor: pointer;
}
